<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    {% include 'head.html' %}
</head>
<body>
{% include 'nav.html' %}
<div class="container">
<div class="row">
<div class="col-md-10 offset-md-1">
<div class="table-responsive">
    <table  class="table table-hover">
    <thead class="table-info">
    <tr>
        <td>课程编号</td>
        <td>课程名称</td>
        <td>课程学分</td>
        <td>开课院系</td>
        <td>任课教师工号</td>
        <td>任课教师姓名</td>
        <td colspan="2">操作<span class="glyphicon glyphicon-edit"></span></td>
    </tr>
	 </thead>
    <tbody>
    {% for cs in cour_list %}
        <tr>
            <td>{{ cs.code }}</td>
            <td>{{ cs.name }}</td>
            <td>{{ cs.score }}</td>
            <td>{{ cs.school }}</td>
            <td>{{ cs.teacher_id.username }}</td>
            <td>{{ cs.teacher_id.name }}</td>
            <td><a  href="#" class="btn btn-primary" role="button">编辑<i class="fa fa-edit"></i></a></td>
            <td><a href="#" class="btn btn-danger" role="button">删除<i class="fa fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
</div>
{% include 'bottom.html' %}
</body>
</html>