<!DOCTYPE html>
<html>

<head>
  {% include "head.html" %}
  <script type="text/javascript">
  $(function() {
        $('#form1').submit(function() { //当提交表单时，会发生 submit 事件。
            var postData = $("#form1").serialize(); //序列化表单，后台可正常通过post方法获取数据
            $.ajax({
                type: "POST",
                url: "/course/del/",
                data: postData,
                success: function(data) {
                        alert(data);
                        window.location.reload();//刷新当前页面.
                },
                error: function(){
                  alert("提交失败");
                }
            });
        });
    });
  </script>

</head>

<body>
  {% include "nav.html" %}
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-12">

        <div class="card text-center">
          <div class="card-header">
            <div>
              <p style="text-align: center; font: 2em sans-serif;">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;课</p>
            </div>
          </div>
          <div class="card-body">
            <div>

              <form method="post" id="form1" onsubmit="return false;">
                {%csrf_token%}

                <table class="table table-hover table-striped">
                  <tr>
                    <th>课程名称</th>
                    <th>课程学分</th>
                    <th>授课老师的id</th>
                    <th>上课时间</th>
                    <th>上课地点</th>
                    <th>开课院系</th>
                    <th>已选人数</th>
                    <th>人数上限</th>
                    <th>选择</th>
                  </tr>
                  {% for item in course_list %}
                  <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.score }}</td>
                    <td>{{ item.teacher_id }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.place }}</td>
                    <td>{{ item.school }}</td>
                    <td>{{ item.num }}</td>
                    <td>{{ item.cap }}</td>
                    <td><input type="radio" name="radio_list" value={{item.id}}>
                    </td>
                  </tr>

                  {% endfor %}
                </table>
                <hr>
                <button type="submit" name="提交" class="btn btn-secondary">提&nbsp;交</button>
              </form>
            </div>




          </div>
        </div>


      </div>
      <div class="col-md-1">&nbsp;</div>
    </div>
  </div>
  <div style="width:100%;position:relative;left:0; bottom:-5px;z-index:-1;">
    <br>
    {% include "bottom.html" %}
  </div>

</body>