
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加管理员</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <p>
        用户名:
        <input type="text" name="username" value="{{ username }}">
    </p>
    <p>
        密码：
        <input type="password" name="password" value="{{ password }}">
    </p>
    <p>
        姓名：
        <input type="text" name="name" value="{{ name }}">
    </p>
    <p>
        邮箱：
        <input type="text" name="email" value="{{ email }}">
    </p>
    <p>
        手机：
        <input type="text" name="phone" value="{{ phone }}">
    </p>
        <input type="submit" value="增加">
        <p style="color: red">{{ error_msg }}</p>
    </p>
</form>
</body>
</body>
</html>