<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分数</title>
</head>
<body>
 <table class="table table-hover table-striped">
                  <tr>
                    <th>课程代码</th>
                    <th>课程名称</th>
                    <th>课程学分</th>
                    <th>开课院系</th>
                    <th>课程类型</th>
                    <th>课程分数</th>
                    <th>绩点</th>
                  </tr>
                  {% for item in course_list %}
                    {% if item.score == 0.0 %}
                    <tr>
                    <td>{{ item.course_code }}</td>
                    <td>{{ item.course_name }}</td>
                    <td>{{ item.course_score }}</td>
                    <td> {{ item.school }} </td>
                    <td>{{ item.type }}</td>
                    <td> {{ item.score }} </td>
                    <td> {{ item.course_GPA }} </td>
                    </tr>
                    {% endif %}

                  {% endfor %}
                </table>
</body>
</html>